{% extends "base_generic.html" %}

{% block content %}
<div class="container">

            {%  for product in products  %}
                {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
                  <div class="col-md-4" onclick="window.location.href='{{product.get_absolute_url}}'" style="cursor: pointer">
                      <div class="card">
                          {% load static %}
                          <!--<img src="{% static 'cart/nokia.jpg' %}" alt="">-->
                          <div class="card-content">
                               <h3>{{ product.name }}</h3>
                               <p>{{ product.description }}</p>
                          </div><!-- card content -->
                      </div><!-- card -->
                  </div><!-- col-md-4 -->
            {%  if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
            {%  endfor %}
         </div><!-- container -->

{% endblock %}